<div class="smalform">
	<h4>
		<a href="#/">应用列表</a>/{{domain}}
		<span class="glyphicon glyphicon-plus"  style="color: #279B00; margin-right:5px; cursor: pointer; float: right;" ng-click="add()" title="添加值"/>
	</h4>
	<div class="form-group">
		<center ng-if="!keyvals">
			正在努力加载中...
		</center>		
		<center ng-if="keyvals.length==0">
			没有数据,请先添加!
		</center>
		<table style="width: 100%;" ng-if="keyvals && keyvals.length>0">
			<tr>
				<th>
					键<input type="checkbox" ng-model="showwithtime" id="showwithtime" style="margin: 0px 2px 2px 20px;"><label for="showwithtime" style="display:inline-block;">显示为时间</label>
				</th>
				<th>
					值
				</th>
			</tr>
			<tr ng-repeat="kv in keyvals">
				<td>
					<a href="#/{{domain}}/{{kv.key}}">
						<span ng-if="!showwithtime">{{kv.key}}</span>
						<span ng-if="showwithtime">{{ kv.key | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
					</a>
				</td>
				<td><a href="#/{{domain}}/{{kv.key}}">{{kv.val}}</a> <span class="glyphicon glyphicon-trash"  style="cursor: pointer; float: right;" ng-click="delete(kv)"/> </td>
			</tr>
		</table>
		<div style="clear:both" />
		<div ng-include="'/static/info.html'"></div>
	</div>
</div>
