<div class="smalform">
	<h4><a href="#/">应用列表</a>/<a href="#/{{domain}}">{{domain}}</a></h4>
	<div class="form-group">
		<label>键</label>
		<input type="text" ng-model="key" class="form-control" style="height:30px;">
		<label>值</label>
		<textarea ng-model="value" class="form-control" style="height:10em;"></textarea>
		
		<div style="float:right; display:inline-block;">
			<button class="btn btn-info" ng-click="save()">保存</button>
			<button class="btn btn-default" ng-click="$location.path('/'+domain)">返回</button>
		</div>
		<div style="clear:both" />
		<div ng-include="'/static/info.html'"></div>
	</div>
</div>